.component-container{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.component__container--paragraph{
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
}
h2{
    font-size: 40px;
}


/*------------* Button Component *------------*/

.button__container--items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    gap: var(--spacing-large);
}

.button-primary{
    width: 150px;
    height: 50px;
    font-size: var(--font-size-base);
    border-radius: 20px;
    cursor: pointer;
    align-self: center;
}

.button-primary:hover{
    background-color: var(--color-primary);
}

.button-disabled{
    width: 150px;
    height: 50px;
    font-size: var(--font-size-base);
    border-radius: 20px;
    align-self: center;
    cursor: not-allowed; 
}

/*------------* Card Component *------------*/

.card__container--items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card__type--1{
    width: 250px;
    height: 350px;
    margin-top: var(--spacing-small);
    box-shadow: 0 8px 8px 8px rgba(27, 25, 27, 0.2);
    transition: 0.3s;
}

.card__type--1 img, .flip-card-front img {
    margin-top: 1rem;
    width: 200px;
    height: 210px; 
}

.card__type--1:hover{
    box-shadow: 0 10px 10px 10px rgba(0,0,0,0.2);
    background-color: rgb(202, 223, 197);
}

.flip-card{
    width: 250px;
    height: 350px;
    margin-top: var(--spacing-small);
    perspective: 1000px;
    background-color: #cacec7; 
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.9s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}

.flip-card-back {
    color: var(--text-color);
    transform: rotateY(180deg);
}

/*------------* Toggle Component *------------*/

.toggle__container--items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 200px;
    gap: 5rem;
}

.heart-icon{
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-image: url(../assets/icons/favorite_24dp_000000_FILL0_wght400_GRAD0_opsz24\ \(1\).svg);
}

.heart-icon.liked{
    background-image: url(../assets/icons/filled-heart.svg);
    transform: scale(1.2); 
}

.toggle-switch{
    position: relative;
    display: inline-block;
    width: 70px;
    height: 40px;
}

.toggle-switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 35px;
    width: 35px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #4caf50;
}

input:checked + .slider:before {
    transform: translateX(24px);
}

/*------------* Dropdown Component *------------*/

.dropdown__container--items{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 200px;
    gap: 5rem;
}

.dropdown__navbar {
    display: inline;
    width: 250px;
    height: 40px;
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    padding: var(--spacing-x-small);
    background-color: var(--color-primary);
    border: 2px solid rgb(52, 77, 60);
}

.dropdown__navbar a {
    font-size: medium;
}

.dropbtn{
    text-align: left;
    border: none;
    font-size: medium;
    background-color: var(--color-primary);
    
}
.dropbtn:hover{
    cursor: pointer;
    background-color: var(--color-primary);
}

.dropdown-content {
    display: none;
    width: 100px;
    text-align: left;
    line-height: 2rem;
    background-color: var(--color-primary);
}

.dropdown-content a {
    display: flex;
}

.dropdown-content.show {
    display: block;
}

.dropdown__menu--btn{
    display: flex;
    margin-top: 1rem ;
    background-color: var(--color-primary);
    height: 40px;
}

.menu-logo{
    width: 35px;
}

.menu-content{
    display: none;
    width: 150px;
    background-color: var(--color-primary);
    font-size: larger;
    text-align: start;
    line-height: var(--spacing-large);
}

.menu-content.show{
    display: block;
}

/*------------* Navigation Component *------------*/

.navigation-container{
    margin-top: 5rem;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation__container--items{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.horizontal-nav{
    display: flex;
    margin: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    gap: 3rem;
    width: 400px;
    height: 50px;
    font-size: large;
    background-color: var(--color-primary);
    border-bottom: 1px solid black;
}

.horizontal-nav a:hover{
    background-color: var(--color-secondary);
    border-radius: 5px;  
}

.fixed__nav--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(178, 197, 167, 0.876);
    margin: 1rem;
    width: 300px;
    height: 150px;
    background-color: var(--color-secondary);
    border: 2px solid var(--color-primary);
    overflow-y: auto; 
    overflow-x: hidden;
    position: relative; 
    font-size: medium;
}

.fixed-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    gap: 1rem;
    margin-top: 0.5rem;
    width: 300px;
    height: 40px;
    font-size: larger;
    background-color: var(--color-primary);
    position: sticky; 
    top: 0; 
    display: flex;
    gap: 15px;
    z-index: 1;
    border-bottom: 1px solid black;
}

/*------------* Alert Component *------------*/

.alert__container--items{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 300px;
    margin-top: 2rem;
    gap: 2rem;
}
.information-alert{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 7rem;
    align-items: center;
    border: 2px solid #00008b;
    background-color: #aac8d9;
    width: 500px;
    height: 50px;
}

.error-alert{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 8.8rem;
    align-items: center;
    border: 2px solid #b8860b;
    background-color: #e7e7b7;
    width: 500px;
    height: 50px;
}

.information-alert, .error-alert {
    display: none;
}

.alert-popup.visible {
    display: flex; 
}

.close-alert{
    width: 50px;
    height: 20px;
}

/*------------* Tooltip Component *------------*/

.tooltips__container--items{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    margin-top: 2rem;
    gap: 2rem;
}
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 25px;
    color: darkgreen;
}
.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 4px;

    position: absolute;
    bottom: 125%; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip-click{
    position: relative;
    display: inline-block;
}

.tooltip-button{
    cursor: pointer;
    padding: 10px 15px;
    font-size: 20px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.tooltip-click-text{
    display: none;
    width: 200px;
    background-color: #555;
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    position: absolute;
    bottom: 125%; /* Placera ovanför knappen */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    white-space: nowrap;
}

.tooltip-click-text.visible {
    display: block;
}

/*------------* Toast Component *------------*/
.toast__container--items{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--spacing-large);
}

.toast__success--btn, .toast__error--btn {
    display: block;
    margin: var(--spacing-small);
    width: 130px;
    height: 50px;
    border-radius: 10px;
    background-color: #c5cbcf;
    font-size: 25px;
    cursor: pointer;
}


.toast-success{
    position: fixed;
    top: 200px;
    right: 30px;
    width: 300px;
    height: 30px;
    background-color: #add8e6;
    border-radius: 8px;
    text-align: center;
}

.toast-error{
    position: fixed;
    top: 240px;
    right: 30px;
    width: 300px;
    height: 30px;
    background-color: rgb(221, 150, 115);
    border-radius: 8px;
    text-align: center;
}

.toast {
    display: none;
}
