
/*------------buttons--------- */

.button-container {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__container--button {
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button__container--items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    gap: var(--spacing-large);

    
}

.button-primary{
    width: 200px;
    height: 100px;
    font-size: var(--font-size-base);
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
}
.button-primary:hover {
    background-color: var(--color-primary);
}

.button-disabled{
    width: 200px;
    height: 100px;
    font-size: var(--font-size-base);
    border-radius: 4px;
    align-self: center;
    cursor: not-allowed;
    
}


/*---------card component----------*/ 

.card-container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__container--paragraph{
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-display{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card__type--1{
    width: 200px;
    height: 300px;
    margin-top: var(--spacing-small);
    box-shadow: 0 8px 8px 8px rgba(27, 25, 27, 0.2);
    transition: 0.3s;
}

.card__type--1 img, .card__type--2 img {
    margin-top: 1rem;
    width: 150px;
    height: 170px; 
}

.card__type--1:hover{
    box-shadow: 0 10px 10px 10px rgba(0,0,0,0.2);
}

.card__type--2{
    width: 200px;
    height: 300px;
    margin-top: var(--spacing-small);
    background-color: rgb(180, 192, 170);
}


/*-------- Modal ---------------*/


/*-------- Dropdown ------------*/

.dropdown-container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown-paragraph{
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.dropdown__container--items{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 200px;
    gap: 5rem;
}

.dropdown__navbar {
    width: 300px;
    height: 40px;
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    padding: var(--spacing-x-small);
    background-color: var(--color-primary);
    border: 2px solid rgb(52, 77, 60);
}

.dropdown__navbar a {
    font-size: larger;
}

.dropbtn{
    width: 80px;
    height: 20px;
    text-align: left;
    border: none;
    font-family:'nunito';
    font-size: larger;
    background-color: var(--color-primary);
    
}
.dropbtn:hover{
    cursor: pointer;
    background-color: var(--color-primary);
}

.dropdown-content {
    display: none;
    width: 100px;
    text-align: left;
    line-height: 2rem;
    background-color: var(--color-primary);
}

.dropdown-content a {
    display: flex;
}

.dropdown-content.show {
    display: block;
}

.dropdown__menu--btn{
    display: flex;
    margin-top: 1rem ;
    background-color: var(--color-primary);
    height: 40px;
}

.menu-logo{
    width: 35px;
}

.menu-content{
    display: none;
    width: 150px;
    background-color: var(--color-primary);
    font-size: larger;
    text-align: start;
    line-height: var(--spacing-large);
}

.menu-content.show{
    display: block;
}


/*-------- Navigation bar------------*/

.navigation-container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation-paragraph{
    width: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navigation__container--items{
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 200px;
    gap: 5rem;
}

.horizontal-nav{
    display: flex;
    margin: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    gap: 3rem;
    width: 350px;
    height: 40px;
    font-size: larger;
    background-color: var(--color-primary);
    border-bottom: 1px solid black;
}

.horizontal-nav a:hover{
    background-color: var(--color-secondary);
    border-radius: 5px;  
}

.fixed__nav--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(178, 197, 167, 0.876);
    margin: 1rem;
    width: 350px;
    height: 150px;
    background-color: var(--color-secondary);
    border: 2px solid var(--color-primary);
    overflow-y: auto; 
    overflow-x: hidden;
    position: relative; 
}

.fixed-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    gap: 1rem;
    margin-top: 0.5rem;
    width: 320px;
    height: 40px;
    font-size: larger;
    background-color: var(--color-primary);
    position: sticky; 
    top: 0; 
    display: flex;
    gap: 15px;
    z-index: 1;
    border-bottom: 1px solid black;
}


/* -------- Alerts --------*/ 

.alert-container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert-paragraph{
    width: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.alert__container--items{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 800px;
    height: 300px;
    margin-top: 2rem;
    gap: 2rem;
}

.information-alert{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 9rem;
    align-items: center;
    border: 2px solid darkblue;
    background-color: rgb(170, 200, 217);
    width: 500px;
    height: 50px;
}

.error-alert{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 10rem;
    align-items: center;
    border: 2px solid darkgoldenrod;
    background-color: rgb(231, 231, 183);
    width: 500px;
    height: 50px;
}

.information-alert, .error-alert {
    display: none;
}

.alert-popup.visible {
    display: flex; /* Visa när "visible" läggs till */
}

.close-alert{
    width: 50px;
    height: 20px;
}