@font-face {
    font-family: 'roboto' ;
    src: url(../assets/fonts/RobotoCondensed-VariableFont_wght.ttf);
}

body{
    width: 100%;
    height: 100vh;
}

header{
    width: 100%;
    height: 10vh;
  /*   background-color: var(--color-primary); */

}

main {
    width: 100%;
    height: 100vh;
    display: flex;
}

.tabs{
    width: 100%;
    height: 80vh;
    display: flex;
    font-family: 'roboto';
    flex-direction: column;
}

/*----------------------------------------------*/ 

.tabs__titles--container {
    width: 100%;
    display: flex;

}

.tabs-title {
   /*  flex-basis:; */
    padding: 0.5rem 1rem;
    font-size: large;
    cursor: pointer;
    border-radius: 15px;

}

.tabs__title--active{
    background-color: var(--color-secondary);
}

/*------------------------------------------------*/ 

.tabs__content--container{
    width: 100%;
    flex-grow: 1;

}
.tabs__content {
    display: none;
}

.tabs__content--active{
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary);
}